/* Styles de base */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Navigation */
header {
    background-color: #1a1a1a;
    padding: 20px;
    text-align: center;
}

h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 250%
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

body
{
    text-align: justify;
}

nav a {
    color: white;
    text-decoration: none;
}

#img1 {
    width: 300px;
}

#img2 {
    width: 534px;
}

#img3 {
    width: 450px;
}

#italie
{
    width: 600px;
}

#aubervilliers
{
    width: 600px;
}

#chevaleret
{
    width: 600px;
}

#indoor
{
    width: 600px;
}

#hardbloc
{
    width: 600px;
}

#blockbuster
{
    width: 600px;
}

#district
{
    width: 600px;
}

#antrebloc
{
    width: 600px;
}


.hero {
    background-image: url('escalade.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

/* Footer */
footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Mobile responsive */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
    .hero h1 {
        font-size: 1.5rem;
    }
}
